In [138]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sys
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import OneHotEncoder

In [139]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

## Explore the dataset

In [140]:
# summary of train 
train.describe()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1103.000000,1103.000000,1103.000000,1103.000000,1103.0,1103.000000,1103.000000,1103.000000,1103.000000,1103.000000,...,1103.000000,1103.0,1103.000000,1103.000000,1103.000000,1103.000000,1103.000000,1103.000000,1103.000000,1103.000000
mean,36.697189,810.515866,9.296464,2.943790,1.0,742.293744,2.731641,65.805984,2.733454,2.075249,...,2.696283,80.0,0.764279,11.212149,2.792384,2.773345,7.004533,4.223935,2.143246,4.150499
std,9.075448,405.943336,8.150026,1.012855,0.0,426.965196,1.081341,20.186842,0.710075,1.117731,...,1.073207,0.0,0.830844,7.806784,1.308029,0.702172,6.124760,3.608279,3.203527,3.579410
min,18.000000,103.000000,1.000000,1.000000,1.0,2.000000,1.000000,30.000000,1.000000,1.000000,...,1.000000,80.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,467.500000,2.000000,2.000000,1.0,369.500000,2.000000,48.000000,2.000000,1.000000,...,2.000000,80.0,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,35.000000,805.000000,7.000000,3.000000,1.0,740.000000,3.000000,66.000000,3.000000,2.000000,...,3.000000,80.0,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,43.000000,1169.000000,14.000000,4.000000,1.0,1116.500000,4.000000,83.000000,3.000000,3.000000,...,4.000000,80.0,1.000000,15.000000,3.000000,3.000000,10.000000,7.000000,2.000000,7.000000
max,60.000000,1499.000000,29.000000,5.000000,1.0,1470.000000,4.000000,100.000000,4.000000,5.000000,...,4.000000,80.0,3.000000,40.000000,6.000000,4.000000,37.000000,18.000000,15.000000,17.000000

In [141]:
train.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,32,No,Travel_Frequently,116,Research & Development,13,3,Other,1,881,...,3,80,1,2,2,3,2,2,2,2
1,53,No,Travel_Rarely,1436,Sales,6,2,Marketing,1,153,...,4,80,1,13,3,1,7,7,4,5
2,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,1467,...,1,80,1,9,5,3,7,7,1,7
3,34,No,Travel_Rarely,971,Sales,1,3,Technical Degree,1,1085,...,4,80,0,10,3,3,10,9,8,6
4,50,No,Travel_Frequently,333,Research & Development,22,5,Medical,1,1087,...,4,80,0,32,2,3,32,6,13,9

# Encoding

In [142]:
encoder = OneHotEncoder()

In [143]:
train['Over18'] = train['Over18'].map({'Y': 1, 'N': 0})
train['OverTime'] = train['OverTime'].map({'No': 0, 'Yes': 1})
train['Gender'] = train['Gender'].map({'Male': 1, 'Female': 0})

In [144]:
# encoder.fit(train['Travel_Rarely'].values.reshape(-1, 1))

In [145]:
f_c = RandomForestClassifier()

In [146]:
X = train.drop(['Attrition', 'BusinessTravel', 'Gender',  'Department', 'EducationField', 'JobRole', 'MaritalStatus'], axis=1)
y = train['Attrition']

In [147]:
X.head()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,32,116,13,3,1,881,3,77,2,1,...,3,80,1,2,2,3,2,2,2,2
1,53,1436,6,2,1,153,2,34,3,2,...,4,80,1,13,3,1,7,7,4,5
2,39,613,6,1,1,1467,4,42,2,3,...,1,80,1,9,5,3,7,7,1,7
3,34,971,1,3,1,1085,4,64,2,3,...,4,80,0,10,3,3,10,9,8,6
4,50,333,22,5,1,1087,3,88,1,4,...,4,80,0,32,2,3,32,6,13,9

In [148]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2)

In [149]:
# X_train.columns

# Fit to model

In [150]:
f_c.fit(X_train, y_train)

RandomForestClassifier()

In [151]:
y_prediction = f_c.predict(X_val)

In [152]:
accuracy = accuracy_score(y_val, y_prediction)

In [153]:
print(accuracy)

0.9004524886877828

In [154]:
test['Over18'] = test['Over18'].map({'Y': 1, 'N': 0})
test['Gender'] = test['Gender'].map({'Male': 1, 'Female': 0})
test['OverTime'] = test['OverTime'].map({'No': 0, 'Yes': 1})

In [155]:
test =  test.drop(['Attrition', 'BusinessTravel','Gender',  'Department', 'EducationField', 'JobRole', 'MaritalStatus'], axis=1)

In [156]:
test_pred = f_c.predict(test)

In [157]:
submission = pd.DataFrame({'EmployeeNumber': test['EmployeeNumber'], 'Attrition': test_pred}).to_csv('submission.csv', index=False)

In [158]:
train.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,32,No,Travel_Frequently,116,Research & Development,13,3,Other,1,881,...,3,80,1,2,2,3,2,2,2,2
1,53,No,Travel_Rarely,1436,Sales,6,2,Marketing,1,153,...,4,80,1,13,3,1,7,7,4,5
2,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,1467,...,1,80,1,9,5,3,7,7,1,7
3,34,No,Travel_Rarely,971,Sales,1,3,Technical Degree,1,1085,...,4,80,0,10,3,3,10,9,8,6
4,50,No,Travel_Frequently,333,Research & Development,22,5,Medical,1,1087,...,4,80,0,32,2,3,32,6,13,9

In [159]:
train.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [160]:
## Model to
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split

X = train[['Age', 'Education', 'JobSatisfaction', 'JobLevel']]
y = train['Attrition']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [161]:
model = SVC()
model.fit(X_train, y_train)

SVC()

In [162]:
accuracy = model.score(X_test, y_test)
print("Test set accuracy: {:.4f}".format(accuracy))

Test set accuracy: 0.8552